.about_section{
    padding:100px 10%;
}

.about_content{
    display:flex;
    align-items:center;
    gap:50px;
}

.about_text{
    max-width:600px;
    
    flex:1;
}

.about_text h2{
    font-size:4rem;
    margin-bottom:15px;
}

.about_text p{
    margin-top:20px;
    line-height:1.8;
    margin-bottom:20px;
}

.about_image{
    flex:1;
}

.about_image img{
    width:100%;
    border-radius:15px;
}
.btn{

    background:#070606;
    color:#fff;
    border:none;
    padding:15px 30px;
    font-size:1.2rem;
    cursor:pointer;
    transition:all 0.3s ease;
}
.welcome{
    text-align:center;
    padding:100px 10%;
    background: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
      ),
      url("../assets/welcome.png");
      color:#fff;
      background-size: cover;
      height: 100vh;
      align-items: center;

}
.welcome h1{
    font-size:4rem;
    margin-bottom:20px;
}
.welcome h2{
    font-size:3rem;
    margin-bottom:20px;
}
.welcome p{
    font-size:2rem;
    line-height:1.8;
}
.quote{
    text-align:center;
    padding:100px 10%;
    background:rgb(23, 13, 13);
      color:#fff;
      background-size: cover;
      padding:100px 10%;
      align-items: center;

}
.quote h1{
    font-family:'Inter', sans-serif;
    font-weight:800;
    line-height:1.3;
    font-size:3.5rem;
    max-width: 1000px;
    margin: 0 auto 30px;
    margin-bottom:20px;
    text-align:center;
}
.quote h1 span{
    color:#e63946;
}
.quote h2{
    font-family:'Inter', sans-serif;
    font-weight:600;
    font-size:1.3rem;
    margin-bottom:10px;
}

.quote p{
    font-family:'Inter', sans-serif;
    font-weight:400;
    opacity:0.8;
    text-align:center;
    font-size:1.25rem;
    line-height:1.8;
}
.quote_cards{
    display:flex;
    justify-content:center;
    gap: 30px;
    flex-wrap:wrap;
}
.quote_card{
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    backdrop-filter: blur(7px);
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
    transition: 0.3s ease;
    margin-top: 30px;
}

.quote_card:hover{
    transform: translateY(-10px);
}

.quote_card h3{
    margin-bottom: 15px;
    color: #ff4d4d;
}

.quote_card p{
    line-height: 1.7;
}
